<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Abel&family=Georama:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Ticket</title>
    <style>
             * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Georama", sans-serif;
      }
      .container {
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      .ticketContainer {
        background-color: #d8d8d8;
        border-radius: 10px;
        padding: 20px 30px;
        display: grid;
        width: 900px;
        grid-template-columns: 70% 30%;
        position: relative;
        transform: scale(0.8);
        margin: 35px;
      }
      .ticketLeftContainer {
        padding: 20px;
        position: relative;
        border-radius: 10px 5px 5px 10px;
      }
      .ticketRightContainer {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
      .seatInformation {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 10px 0px;
      }
      .cinemaName {
        text-transform: uppercase;
        font-family: "Abel", sans-serif;
      }
      .seatInformationTextContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0px;
        border: 1px dashed #000;
      }
      .seatInformationTextContainer:first-child {
        border-right: 10px;
      }
      .seatInformationText {
        font-size: 1.4rem;
        font-weight: 500;
      }
      .headingTextSmall {
        color: #d8d8d8;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1.6rem;
      }
      .headingTextBig {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 2.9rem;
        font-family: "Inter Tight", sans-serif;
        letter-spacing: -4px;
        line-height: 2.5rem;
        margin-bottom: 10px;
      }
      .ticketId {
        position: absolute;
        left: 54.90%;
        transform: rotate(90deg);
        top: 46%;
        font-size: 1.2rem;
        font-weight: 300;
        z-index: 5;
      }
      .dot {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        position: absolute;
        background: #fff;
        top: 50%;
        transform: translate(0%, -50%);
      }
      .dotLeft {
        left: -15px;
      }
      .dotRight {
        right: -15px;
      }
      .dotLine {
        border-right: 3px dotted #fff;
        position: absolute;
        top: 0;
        left: 68.5%;
        height: 100%;
        z-index: 10;
      }
      .movieName {
        text-transform: uppercase;
        font-family: "Abel", sans-serif;
        font-weight: 900;
        font-size: 1.25rem;
      }
      .showDetails {
        text-transform: uppercase;
        font-family: "Abel", sans-serif;
        font-size: 1.25rem;
        font-weight: 900;
      }
      .ticketIdRight {
        font-family: "Abel", sans-serif;
        font-size: 1.2rem;
      }
      .mainContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      .mainContainerText {
        margin-left: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      {{#each seats as |seat|}}
        <div class="ticketContainer">
          <div class="dot dotLeft"></div>
          <div class="dot dotRight"></div>
          <div class="dotLine"></div>
          <div class="id ticketId">
              <p>{{../_id}}</p>
          </div>
          <div class="ticketLeftContainer dynamicColorContainer">
            <p class="cinemaName">{{../theatre}}</p>
            <div class="seatInformation">
              <div class="seatInformationTextContainer">
                <p class="seatInformationText">HALL {{../hall}}</p>
              </div>
              <div class="seatInformationTextContainer">
                <p class="seatInformationText">SEAT {{seat}}</p>
              </div>
            </div>
           <div class="mainContainer">
            <div>
              <a href="https://github.com/vars7899">
                <svg
                  version="1.0"
                  xmlns="http://www.w3.org/2000/svg"
                  width="82.000000pt"
                  height="82.000000pt"
                  viewBox="0 0 1026.000000 1026.000000"
                  preserveAspectRatio="xMidYMid meet"
                >
                  <g
                    transform="translate(0.000000,1026.000000) scale(0.100000,-0.100000)"
                    fill="#000000"
                    stroke="none"
                  >
                    <path
                      d="M750 9963 c-162 -19 -324 -131 -394 -272 -62 -125 -61 -110 -61 -756
              0 -653 -3 -624 67 -756 56 -107 173 -201 296 -239 61 -19 94 -20 661 -20 557
              0 600 1 656 19 169 54 293 177 346 346 17 56 19 99 19 656 0 673 1 662 -78
              785 -69 107 -140 162 -271 213 l-66 26 -570 1 c-313 1 -586 0 -605 -3z m1071
              -316 c73 -31 122 -70 165 -134 63 -95 64 -102 64 -573 0 -314 -4 -435 -13
              -465 -40 -126 -126 -212 -252 -252 -30 -9 -151 -13 -465 -13 -471 0 -478 1
              -573 64 -64 43 -103 92 -134 165 -22 55 -23 60 -23 498 0 415 1 446 20 494 39
              103 107 174 209 216 56 22 60 23 501 23 441 0 445 -1 501 -23z"
                    />
                    <path
                      d="M1015 9361 c-22 -10 -54 -34 -72 -52 -60 -64 -63 -81 -63 -371 0
              -244 1 -265 21 -304 26 -55 87 -110 136 -123 55 -16 514 -14 567 1 54 16 128
              90 144 144 15 53 17 512 1 567 -13 49 -68 110 -123 136 -39 20 -60 21 -307 21
              -236 0 -268 -2 -304 -19z"
                    />
                    <path
                      d="M8360 9960 c-196 -27 -362 -169 -420 -358 -19 -61 -20 -94 -20 -661
              0 -557 2 -600 19 -656 53 -169 177 -292 346 -346 56 -18 99 -19 656 -19 567 0
              600 1 661 20 123 38 240 132 296 239 70 132 67 103 67 756 0 646 1 631 -61
              756 -58 117 -153 196 -304 252 -53 21 -75 21 -620 23 -311 1 -590 -2 -620 -6z
              m1100 -321 c72 -34 145 -106 178 -177 l27 -57 3 -453 3 -453 -24 -57 c-30 -75
              -70 -125 -134 -168 -95 -63 -102 -64 -573 -64 -314 0 -435 4 -465 13 -126 40
              -212 126 -252 252 -9 30 -13 151 -13 465 0 471 1 478 64 573 43 64 92 103 165
              134 l56 23 455 -3 455 -2 55 -26z"
                    />
                    <path
                      d="M8633 9359 c-54 -27 -109 -87 -122 -136 -16 -55 -14 -514 1 -567 16
              -54 90 -128 144 -144 53 -15 512 -17 567 -1 49 13 110 68 136 123 20 39 21 60
              21 307 0 295 -4 312 -71 376 -64 60 -81 63 -371 63 -246 0 -266 -1 -305 -21z"
                    />
                    <path
                      d="M3594 9931 c-32 -20 -64 -74 -64 -111 0 -37 30 -89 65 -110 66 -41
              151 -16 185 54 25 52 25 60 0 111 -35 71 -119 97 -186 56z"
                    />
                    <path
                      d="M3904 9940 c-11 -4 -33 -22 -47 -40 -21 -25 -27 -42 -27 -81 0 -42 5
              -55 33 -85 28 -30 42 -37 83 -41 65 -6 113 24 134 85 13 37 13 47 0 84 -25 71
              -105 107 -176 78z"
                    />
                    <path
                      d="M4472 9930 c-34 -21 -62 -71 -62 -111 0 -11 8 -37 17 -56 51 -108
              209 -90 245 28 9 32 8 44 -10 81 -37 75 -120 101 -190 58z"
                    />
                    <path
                      d="M5059 9927 c-41 -27 -59 -60 -59 -107 0 -69 61 -130 130 -130 94 0
              159 106 117 190 -18 37 -74 70 -117 70 -22 0 -51 -9 -71 -23z"
                    />
                    <path
                      d="M5647 9932 c-15 -9 -37 -37 -49 -60 -18 -37 -19 -49 -10 -81 36 -118
              194 -136 245 -28 21 43 21 67 3 112 -28 67 -126 96 -189 57z"
                    />
                    <path
                      d="M5939 9927 c-46 -31 -61 -62 -56 -120 11 -124 172 -161 237 -54 72
              117 -68 251 -181 174z"
                    />
                    <path
                      d="M6230 9928 c-50 -34 -70 -93 -50 -150 21 -61 69 -91 134 -85 41 4 55
              11 83 41 28 30 33 43 33 86 0 43 -5 56 -33 86 -28 30 -42 37 -83 41 -40 4 -55
              0 -84 -19z"
                    />
                    <path
                      d="M6530 9933 c-35 -24 -48 -42 -61 -85 -10 -31 -9 -42 9 -80 37 -75
              118 -100 187 -58 35 21 65 73 65 110 0 37 -32 91 -64 111 -39 24 -104 24 -136
              2z"
                    />
                    <path
                      d="M6824 9931 c-47 -29 -64 -59 -64 -113 0 -129 173 -176 240 -65 70
              114 -63 247 -176 178z"
                    />
                    <path
                      d="M7403 9929 c-109 -69 -58 -239 72 -239 95 0 160 99 120 184 -34 71
              -126 97 -192 55z"
                    />
                    <path
                      d="M2719 9637 c-72 -48 -86 -136 -31 -198 71 -79 208 -39 227 65 14 70
              -58 156 -130 156 -18 0 -47 -10 -66 -23z"
                    />
                    <path
                      d="M3311 9643 c-104 -51 -87 -211 26 -242 35 -10 86 0 113 22 76 60 61
              187 -25 223 -44 18 -72 17 -114 -3z"
                    />
                    <path
                      d="M3599 9637 c-72 -48 -86 -136 -31 -198 70 -78 208 -38 228 66 13 69
              -59 155 -131 155 -18 0 -47 -10 -66 -23z"
                    />
                    <path
                      d="M5365 9642 c-46 -30 -66 -57 -71 -99 -9 -74 49 -144 122 -145 81 -1
              137 54 137 134 0 93 -112 158 -188 110z"
                    />
                    <path
                      d="M5653 9640 c-44 -27 -66 -64 -66 -114 0 -76 57 -129 137 -128 102 2
              163 135 94 209 -51 55 -110 67 -165 33z"
                    />
                    <path
                      d="M5953 9645 c-43 -18 -73 -69 -73 -122 0 -80 86 -144 163 -122 114 31
              130 192 24 242 -42 20 -71 21 -114 2z"
                    />
                    <path
                      d="M6833 9646 c-42 -19 -73 -70 -73 -121 0 -116 136 -170 222 -88 34 32
              45 82 29 133 -21 70 -109 107 -178 76z"
                    />
                    <path
                      d="M2695 9327 c-44 -44 -53 -93 -29 -143 26 -53 66 -79 119 -79 53 0 93
              26 119 79 24 50 15 99 -29 143 -30 30 -39 33 -90 33 -51 0 -60 -3 -90 -33z"
                    />
                    <path
                      d="M3008 9344 c-85 -46 -73 -192 19 -231 53 -21 100 -11 143 32 32 32
              35 41 35 91 0 51 -3 58 -37 90 -32 29 -45 34 -85 34 -27 -1 -60 -7 -75 -16z"
                    />
                    <path
                      d="M4164 9327 c-69 -63 -53 -172 30 -211 42 -20 67 -20 111 -2 92 39
              101 179 15 230 -16 9 -49 16 -74 16 -38 0 -52 -6 -82 -33z"
                    />
                    <path
                      d="M4753 9334 c-86 -67 -48 -209 62 -230 99 -18 187 96 141 183 -26 51
              -62 73 -120 73 -39 0 -58 -6 -83 -26z"
                    />
                    <path
                      d="M5059 9343 c-84 -52 -76 -184 14 -226 19 -9 45 -17 57 -17 12 0 38 8
              57 17 91 43 98 176 13 227 -36 20 -107 20 -141 -1z"
                    />
                    <path
                      d="M5633 9334 c-110 -86 -12 -268 122 -224 38 13 82 58 91 97 10 38 -13
              98 -47 127 -43 36 -120 37 -166 0z"
                    />
                    <path
                      d="M5939 9343 c-85 -52 -75 -191 16 -229 44 -18 69 -18 111 2 83 39 99
              148 30 211 -30 28 -43 33 -83 33 -27 0 -60 -8 -74 -17z"
                    />
                    <path
                      d="M6507 9327 c-46 -43 -56 -92 -31 -143 26 -53 66 -79 119 -79 53 0 93
              26 119 79 24 50 15 99 -29 143 -29 29 -39 33 -88 33 -49 0 -60 -4 -90 -33z"
                    />
                    <path
                      d="M7385 9327 c-44 -44 -53 -93 -29 -143 26 -53 66 -79 119 -79 53 0 93
              26 119 79 24 50 15 99 -29 143 -30 30 -39 33 -90 33 -51 0 -60 -3 -90 -33z"
                    />
                    <path
                      d="M2714 9051 c-67 -41 -80 -138 -27 -195 66 -71 171 -57 213 28 24 51
              25 68 4 112 -32 68 -125 95 -190 55z"
                    />
                    <path
                      d="M2989 9031 c-35 -35 -39 -44 -39 -90 0 -44 5 -56 33 -87 43 -47 113
              -57 165 -24 59 36 78 118 42 177 -24 41 -67 63 -121 63 -35 0 -48 -6 -80 -39z"
                    />
                    <path
                      d="M3303 9050 c-112 -68 -62 -240 70 -240 40 0 96 35 114 70 7 14 13 45
              13 69 0 37 -5 49 -39 82 -33 33 -45 39 -82 39 -26 0 -57 -8 -76 -20z"
                    />
                    <path
                      d="M4472 9050 c-34 -21 -62 -71 -62 -111 0 -37 31 -88 67 -110 72 -45
              169 -4 195 82 9 32 8 44 -10 81 -37 75 -120 101 -190 58z"
                    />
                    <path
                      d="M4770 9053 c-108 -74 -71 -229 57 -240 59 -5 102 19 126 70 21 43 21
              67 3 112 -28 66 -129 97 -186 58z"
                    />
                    <path
                      d="M5647 9052 c-15 -9 -37 -37 -49 -60 -18 -37 -19 -49 -10 -81 36 -118
              194 -136 246 -27 20 42 20 67 2 111 -28 67 -126 96 -189 57z"
                    />
                    <path
                      d="M5955 9060 c-40 -16 -68 -57 -72 -107 -5 -58 10 -89 56 -120 85 -57
              201 5 201 107 0 91 -100 156 -185 120z"
                    />
                    <path
                      d="M6527 9051 c-78 -51 -84 -145 -14 -210 57 -52 161 -31 199 40 22 41
              23 68 4 114 -28 67 -128 97 -189 56z"
                    />
                    <path
                      d="M7113 9050 c-81 -49 -82 -170 -1 -220 52 -33 122 -23 165 24 28 31
              33 43 33 87 0 46 -4 55 -39 90 -33 33 -45 39 -82 39 -26 0 -57 -8 -76 -20z"
                    />
                    <path
                      d="M7405 9050 c-33 -21 -65 -73 -65 -104 0 -11 9 -39 20 -62 55 -114
              224 -88 245 37 18 108 -108 189 -200 129z"
                    />
                    <path
                      d="M2719 8757 c-97 -64 -83 -194 25 -231 122 -42 224 98 145 198 -45 58
              -113 71 -170 33z"
                    />
                    <path
                      d="M3313 8765 c-49 -21 -75 -69 -70 -129 4 -42 10 -55 41 -83 31 -28 43
              -33 87 -33 46 0 55 4 90 39 33 33 39 45 39 82 0 56 -30 106 -75 125 -43 17
              -71 17 -112 -1z"
                    />
                    <path
                      d="M4193 8765 c-49 -21 -75 -69 -70 -129 4 -42 10 -55 41 -83 31 -28 43
              -33 87 -33 46 0 55 4 90 39 33 33 39 45 39 82 0 56 -30 106 -75 125 -43 17
              -71 17 -112 -1z"
                    />
                    <path
                      d="M5650 8758 c-47 -31 -73 -83 -64 -128 13 -76 70 -116 150 -107 53 6
              88 34 105 84 37 113 -94 217 -191 151z"
                    />
                    <path
                      d="M5953 8765 c-43 -19 -73 -69 -73 -124 0 -37 6 -49 39 -82 35 -35 44
              -39 90 -39 44 0 56 5 87 33 31 28 37 41 41 83 5 61 -21 108 -72 130 -43 17
              -71 17 -112 -1z"
                    />
                    <path
                      d="M6835 8766 c-49 -22 -68 -51 -73 -111 -4 -53 -3 -56 36 -95 36 -36
              44 -40 91 -40 44 0 56 5 87 33 31 28 37 41 41 83 9 104 -86 172 -182 130z"
                    />
                    <path
                      d="M7121 8762 c-62 -33 -87 -111 -56 -172 47 -90 178 -96 229 -10 23 40
              21 111 -5 144 -44 56 -108 70 -168 38z"
                    />
                    <path
                      d="M7409 8757 c-97 -64 -83 -194 25 -231 122 -42 224 98 145 198 -45 58
              -113 71 -170 33z"
                    />
                    <path
                      d="M2750 8479 c-75 -16 -118 -106 -84 -175 26 -53 66 -79 119 -79 53 0
              93 26 119 79 47 96 -42 199 -154 175z"
                    />
                    <path
                      d="M3930 8482 c-63 -8 -115 -90 -99 -159 16 -72 93 -117 161 -94 102 34
              128 153 50 224 -23 21 -74 34 -112 29z"
                    />
                    <path
                      d="M4512 8479 c-93 -19 -129 -133 -66 -209 67 -79 197 -51 224 49 26 99
              -55 182 -158 160z"
                    />
                    <path
                      d="M4810 8482 c-103 -15 -140 -158 -59 -226 62 -53 149 -38 196 33 62
              93 -21 210 -137 193z"
                    />
                    <path
                      d="M5682 8479 c-99 -21 -131 -156 -52 -223 58 -48 136 -42 184 14 83 99
              -3 237 -132 209z"
                    />
                    <path
                      d="M6271 8479 c-18 -4 -48 -21 -65 -38 -27 -27 -31 -38 -31 -86 0 -46 4
              -58 30 -85 76 -80 195 -53 223 51 18 69 -31 151 -97 161 -14 2 -41 1 -60 -3z"
                    />
                    <path
                      d="M6560 8479 c-75 -16 -118 -106 -84 -175 26 -53 66 -79 119 -79 53 0
              93 26 119 79 47 96 -42 199 -154 175z"
                    />
                    <path
                      d="M7440 8479 c-75 -16 -118 -106 -84 -175 26 -53 66 -79 119 -79 53 0
              93 26 119 79 47 96 -42 199 -154 175z"
                    />
                    <path
                      d="M2712 8170 c-41 -25 -66 -81 -57 -127 3 -19 21 -51 40 -71 31 -34 38
              -37 90 -37 52 0 59 3 90 37 43 47 53 94 29 143 -33 71 -123 97 -192 55z"
                    />
                    <path
                      d="M3303 8170 c-112 -68 -62 -240 70 -240 40 0 96 35 114 70 7 14 13 45
              13 69 0 37 -5 49 -39 82 -33 33 -45 39 -82 39 -26 0 -57 -8 -76 -20z"
                    />
                    <path
                      d="M3889 8173 c-68 -42 -82 -136 -28 -197 97 -111 272 1 216 137 -29 68
              -126 99 -188 60z"
                    />
                    <path
                      d="M4472 8170 c-34 -21 -62 -72 -62 -112 0 -37 34 -90 71 -110 106 -59
              228 49 183 161 -30 75 -121 104 -192 61z"
                    />
                    <path
                      d="M5044 8157 c-87 -80 -32 -227 86 -227 118 0 173 147 86 227 -30 28
              -43 33 -86 33 -43 0 -56 -5 -86 -33z"
                    />
                    <path
                      d="M5647 8171 c-78 -51 -84 -145 -14 -210 57 -52 161 -31 199 40 22 41
              23 68 4 114 -28 67 -128 97 -189 56z"
                    />
                    <path
                      d="M6232 8170 c-85 -52 -76 -189 15 -226 45 -19 82 -17 120 6 43 26 64
              61 65 108 1 105 -110 167 -200 112z"
                    />
                    <path
                      d="M6799 8151 c-34 -33 -39 -45 -39 -82 0 -56 16 -87 59 -116 61 -41
              143 -23 181 40 55 90 -11 197 -121 197 -35 0 -48 -6 -80 -39z"
                    />
                    <path
                      d="M7404 8171 c-41 -25 -68 -82 -59 -128 3 -19 21 -51 40 -71 31 -34 38
              -37 90 -37 52 0 59 3 90 37 43 47 53 94 29 143 -22 47 -67 75 -119 75 -22 0
              -54 -9 -71 -19z"
                    />
                    <path
                      d="M3615 7890 c-34 -14 -76 -65 -81 -101 -13 -77 50 -149 129 -149 135
              0 182 161 68 237 -34 23 -80 28 -116 13z"
                    />
                    <path
                      d="M3893 7880 c-43 -26 -64 -61 -65 -108 -1 -83 62 -139 146 -130 53 6
              82 28 102 75 19 43 18 72 -4 112 -35 65 -118 89 -179 51z"
                    />
                    <path
                      d="M4193 7885 c-49 -21 -75 -69 -70 -129 4 -42 10 -55 41 -83 31 -28 43
              -33 87 -33 46 0 55 4 90 39 33 33 39 45 39 82 0 105 -92 165 -187 124z"
                    />
                    <path
                      d="M5361 7882 c-37 -20 -71 -73 -71 -110 0 -32 23 -84 48 -106 31 -27
              107 -33 147 -12 41 22 68 69 68 117 0 46 -23 83 -66 109 -40 25 -82 25 -126 2z"
                    />
                    <path
                      d="M6241 7882 c-67 -36 -90 -121 -48 -183 74 -110 241 -59 239 73 -1 47
              -22 82 -65 108 -40 25 -82 25 -126 2z"
                    />
                    <path
                      d="M6819 7877 c-43 -29 -59 -60 -59 -116 0 -37 5 -49 39 -82 35 -35 44
              -39 88 -39 56 0 93 22 118 70 60 117 -77 240 -186 167z"
                    />
                    <path
                      d="M986 7600 c-90 -28 -121 -136 -59 -210 95 -113 282 5 217 136 -32 63
              -95 93 -158 74z"
                    />
                    <path
                      d="M1866 7600 c-90 -28 -121 -136 -59 -210 95 -113 282 5 217 136 -32
              63 -95 93 -158 74z"
                    />
                    <path
                      d="M2171 7602 c-120 -21 -138 -193 -26 -246 49 -24 96 -14 143 29 34 31
              37 38 37 88 0 45 -5 60 -25 82 -38 41 -80 56 -129 47z"
                    />
                    <path
                      d="M2455 7599 c-17 -5 -44 -22 -60 -39 -26 -27 -30 -39 -30 -86 0 -51 3
              -58 37 -89 47 -43 94 -53 143 -29 67 32 95 116 61 183 -27 51 -91 77 -151 60z"
                    />
                    <path
                      d="M2746 7600 c-90 -28 -121 -136 -59 -210 95 -113 282 5 217 136 -32
              63 -95 93 -158 74z"
                    />
                    <path
                      d="M3051 7602 c-120 -21 -138 -201 -24 -248 49 -21 96 -11 141 31 34 31
              37 38 37 88 0 45 -5 60 -25 82 -38 41 -80 56 -129 47z"
                    />
                    <path
                      d="M3334 7599 c-65 -18 -105 -88 -89 -158 8 -38 64 -88 109 -96 73 -14
              146 50 146 128 0 91 -78 150 -166 126z"
                    />
                    <path
                      d="M3914 7599 c-87 -25 -114 -147 -48 -220 46 -51 135 -46 190 12 25 26
              29 38 29 84 0 46 -4 58 -29 84 -17 17 -46 36 -65 41 -41 11 -36 11 -77 -1z"
                    />
                    <path
                      d="M4506 7600 c-98 -30 -124 -158 -45 -224 85 -72 212 -13 212 98 0 90
              -81 152 -167 126z"
                    />
                    <path
                      d="M5085 7595 c-22 -8 -41 -15 -42 -15 -1 0 -11 -15 -22 -34 -56 -90 4
              -200 109 -200 51 0 83 18 111 61 39 58 12 158 -49 181 -51 20 -67 21 -107 7z"
                    />
                    <path
                      d="M5676 7600 c-96 -29 -122 -159 -46 -224 58 -48 136 -42 184 15 83 99
              -14 246 -138 209z"
                    />
                    <path
                      d="M5979 7600 c-45 -13 -68 -30 -84 -60 -35 -67 -8 -152 58 -183 45 -22
              62 -21 113 3 67 33 91 105 59 174 -24 50 -93 82 -146 66z"
                    />
                    <path
                      d="M6265 7599 c-17 -4 -44 -22 -60 -39 -26 -27 -30 -39 -30 -86 0 -51 3
              -58 37 -89 47 -44 95 -53 145 -29 143 71 61 289 -92 243z"
                    />
                    <path
                      d="M7145 7599 c-17 -5 -44 -22 -60 -39 -26 -27 -30 -39 -30 -86 0 -51 3
              -58 37 -89 45 -42 92 -52 141 -31 67 27 97 118 63 185 -27 51 -91 77 -151 60z"
                    />
                    <path
                      d="M7436 7600 c-90 -28 -121 -136 -59 -210 95 -113 282 5 217 136 -32
              63 -95 93 -158 74z"
                    />
                    <path
                      d="M7741 7602 c-120 -21 -138 -193 -26 -246 49 -24 96 -14 143 29 34 31
              37 38 37 88 0 45 -5 60 -25 82 -38 41 -80 56 -129 47z"
                    />
                    <path
                      d="M8316 7600 c-90 -28 -121 -136 -59 -210 95 -113 282 5 217 136 -32
              63 -95 93 -158 74z"
                    />
                    <path
                      d="M8615 7603 c-59 -12 -111 -97 -94 -156 13 -48 38 -78 76 -94 49 -20
              96 -9 141 32 34 31 37 38 37 89 0 47 -4 59 -29 85 -25 26 -87 55 -106 50 -3
              -1 -14 -4 -25 -6z"
                    />
                    <path
                      d="M8905 7599 c-115 -32 -128 -187 -21 -239 51 -24 68 -25 113 -3 66 31
              93 116 58 183 -25 47 -95 75 -150 59z"
                    />
                    <path
                      d="M9196 7600 c-98 -30 -124 -158 -45 -224 85 -72 212 -13 212 98 0 90
              -81 152 -167 126z"
                    />
                    <path
                      d="M9484 7599 c-91 -26 -117 -156 -45 -221 62 -55 150 -42 198 31 66 98
              -36 225 -153 190z"
                    />
                    <path
                      d="M349 7271 c-33 -33 -39 -45 -39 -82 0 -76 57 -139 125 -139 81 0 139
              63 132 144 -4 42 -10 55 -41 83 -31 28 -43 33 -87 33 -46 0 -55 -4 -90 -39z"
                    />
                    <path
                      d="M959 7295 c-54 -29 -79 -101 -56 -156 25 -60 61 -84 123 -84 48 0 57
              4 89 35 43 43 53 90 32 143 -28 67 -122 98 -188 62z"
                    />
                    <path
                      d="M1229 7271 c-33 -33 -39 -45 -39 -82 0 -76 57 -139 125 -139 81 0
              139 63 132 144 -4 42 -10 55 -41 83 -31 28 -43 33 -87 33 -46 0 -55 -4 -90
              -39z"
                    />
                    <path
                      d="M1832 7290 c-41 -25 -66 -81 -57 -127 3 -19 21 -51 40 -71 31 -34 38
              -37 90 -37 52 0 59 3 90 37 19 20 37 52 40 71 14 75 -49 147 -130 147 -23 0
              -54 -9 -73 -20z"
                    />
                    <path
                      d="M3889 7293 c-37 -23 -61 -68 -61 -115 1 -47 22 -82 65 -108 107 -66
              240 58 182 170 -33 65 -125 91 -186 53z"
                    />
                    <path
                      d="M4164 7277 c-89 -82 -31 -227 91 -227 68 0 125 63 125 139 0 37 -6
              49 -39 82 -35 35 -44 39 -90 39 -44 0 -56 -5 -87 -33z"
                    />
                    <path
                      d="M5352 7290 c-34 -21 -62 -72 -62 -112 0 -62 70 -128 135 -128 63 0
              126 61 128 123 3 108 -109 173 -201 117z"
                    />
                    <path
                      d="M5649 7295 c-106 -57 -72 -226 49 -242 101 -14 178 86 139 180 -28
              67 -122 98 -188 62z"
                    />
                    <path
                      d="M5919 7271 c-33 -33 -39 -45 -39 -82 0 -76 57 -139 125 -139 81 0
              139 63 132 144 -4 42 -10 55 -41 83 -31 28 -43 33 -87 33 -46 0 -55 -4 -90
              -39z"
                    />
                    <path
                      d="M6227 7289 c-34 -26 -57 -69 -57 -106 0 -67 67 -133 135 -133 36 0
              88 30 110 64 36 54 13 145 -45 180 -39 23 -109 20 -143 -5z"
                    />
                    <path
                      d="M6529 7295 c-54 -29 -79 -101 -56 -156 25 -60 61 -84 123 -84 48 0
              57 4 89 35 43 43 53 90 32 143 -28 67 -122 98 -188 62z"
                    />
                    <path
                      d="M6799 7271 c-34 -33 -39 -45 -39 -82 0 -56 16 -87 59 -116 109 -73
              246 50 186 167 -25 48 -62 70 -118 70 -44 0 -53 -4 -88 -39z"
                    />
                    <path
                      d="M7096 7277 c-40 -38 -51 -72 -41 -124 12 -67 92 -116 162 -99 14 4
              41 22 60 41 28 28 33 40 33 80 0 84 -50 135 -133 135 -38 0 -52 -6 -81 -33z"
                    />
                    <path
                      d="M7402 7290 c-41 -25 -66 -81 -57 -127 3 -19 21 -51 40 -71 31 -34 38
              -37 90 -37 52 0 59 3 90 37 19 20 37 52 40 71 14 75 -49 147 -130 147 -23 0
              -54 -9 -73 -20z"
                    />
                    <path
                      d="M7699 7293 c-39 -24 -59 -65 -59 -118 0 -40 5 -52 33 -80 39 -39 72
              -50 124 -40 69 13 116 91 98 162 -3 15 -22 42 -41 60 -30 28 -43 33 -82 33
              -26 0 -59 -8 -73 -17z"
                    />
                    <path
                      d="M7986 7289 c-14 -11 -33 -34 -41 -49 -60 -117 77 -240 186 -167 43
              29 59 60 59 116 0 37 -5 49 -39 82 -35 35 -44 39 -88 39 -36 0 -58 -6 -77 -21z"
                    />
                    <path
                      d="M8282 7290 c-41 -25 -66 -81 -57 -127 3 -19 21 -51 40 -71 31 -34 38
              -37 90 -37 52 0 59 3 90 37 43 47 53 94 29 143 -33 71 -123 97 -192 55z"
                    />
                    <path
                      d="M8854 7277 c-89 -82 -31 -227 91 -227 68 0 125 63 125 139 0 37 -6
              49 -39 82 -35 35 -44 39 -90 39 -44 0 -56 -5 -87 -33z"
                    />
                    <path
                      d="M9162 7290 c-86 -53 -76 -180 17 -226 118 -57 236 83 163 194 -34 53
              -121 68 -180 32z"
                    />
                    <path
                      d="M9459 7293 c-58 -35 -80 -125 -45 -178 23 -35 74 -65 111 -65 65 0
              135 66 135 128 0 40 -28 91 -62 112 -40 24 -103 26 -139 3z"
                    />
                    <path
                      d="M9734 7277 c-47 -43 -57 -113 -24 -165 36 -59 118 -78 177 -42 75 45
              84 148 19 207 -30 28 -43 33 -86 33 -43 0 -56 -5 -86 -33z"
                    />
                    <path
                      d="M959 6997 c-85 -57 -86 -163 -2 -218 61 -41 161 -11 189 56 19 46 18
              73 -4 114 -36 67 -121 90 -183 48z"
                    />
                    <path
                      d="M2134 7001 c-47 -29 -64 -59 -64 -114 0 -44 4 -54 39 -88 33 -34 45
              -39 82 -39 56 0 87 16 116 59 76 113 -57 253 -173 182z"
                    />
                    <path
                      d="M2740 7014 c-35 -15 -79 -68 -85 -105 -25 -146 186 -209 249 -74 23
              49 14 96 -27 142 -26 28 -42 36 -77 39 -25 2 -52 1 -60 -2z"
                    />
                    <path
                      d="M3014 7001 c-47 -29 -64 -59 -64 -114 0 -44 4 -54 39 -88 33 -34 45
              -39 82 -39 56 0 87 16 116 59 76 112 -58 252 -173 182z"
                    />
                    <path
                      d="M7112 7000 c-61 -37 -79 -122 -39 -181 29 -43 60 -59 116 -59 37 0
              49 5 82 39 35 35 39 44 39 88 0 106 -109 167 -198 113z"
                    />
                    <path
                      d="M7424 7011 c-32 -14 -72 -68 -80 -105 -8 -44 19 -102 60 -127 67 -41
              157 -14 190 56 23 49 14 96 -27 142 -26 28 -42 36 -77 39 -25 2 -54 0 -66 -5z"
                    />
                    <path
                      d="M7704 7001 c-47 -29 -64 -59 -64 -114 0 -44 4 -54 39 -88 33 -34 45
              -39 82 -39 56 0 87 16 116 59 76 112 -58 252 -173 182z"
                    />
                    <path
                      d="M7993 7000 c-63 -38 -81 -120 -40 -181 29 -43 60 -59 116 -59 37 0
              49 5 82 39 35 35 39 44 39 88 0 105 -109 167 -197 113z"
                    />
                    <path
                      d="M8295 7005 c-122 -64 -79 -245 58 -245 126 0 178 142 84 229 -33 30
              -101 38 -142 16z"
                    />
                    <path
                      d="M8584 7001 c-47 -29 -64 -59 -64 -114 0 -44 4 -54 39 -88 33 -33 45
              -39 82 -39 112 0 175 114 114 206 -33 51 -117 68 -171 35z"
                    />
                    <path
                      d="M9753 7000 c-75 -45 -84 -148 -19 -207 30 -28 43 -33 86 -33 43 0 56
              5 86 33 87 80 32 227 -86 227 -19 0 -49 -9 -67 -20z"
                    />
                    <path
                      d="M1285 6723 c-57 -15 -95 -67 -95 -130 0 -89 92 -154 171 -120 110 47
              119 186 15 237 -43 20 -55 22 -91 13z"
                    />
                    <path
                      d="M1565 6716 c-56 -25 -80 -61 -80 -121 0 -43 5 -59 25 -80 74 -81 190
              -60 224 39 25 72 -13 146 -83 166 -45 12 -49 12 -86 -4z"
                    />
                    <path
                      d="M2433 6710 c-74 -38 -96 -138 -41 -197 86 -94 228 -42 228 84 0 100
              -96 158 -187 113z"
                    />
                    <path
                      d="M3030 6717 c-45 -16 -80 -68 -80 -119 0 -128 141 -180 230 -83 20 21
              25 37 25 80 0 60 -25 97 -82 121 -38 17 -47 17 -93 1z"
                    />
                    <path
                      d="M7135 6716 c-56 -25 -80 -62 -80 -121 0 -43 5 -59 25 -80 88 -96 230
              -45 230 82 0 41 -28 96 -57 111 -34 19 -87 22 -118 8z"
                    />
                    <path
                      d="M8316 6720 c-90 -28 -121 -136 -59 -210 95 -113 282 5 217 136 -32
              63 -95 93 -158 74z"
                    />
                    <path
                      d="M8885 6712 c-105 -49 -97 -192 14 -239 79 -34 171 31 171 120 0 101
              -94 161 -185 119z"
                    />
                    <path
                      d="M9484 6719 c-88 -26 -117 -143 -50 -213 42 -45 91 -55 143 -30 110
              54 107 193 -4 240 -36 16 -45 16 -89 3z"
                    />
                    <path
                      d="M4956 6610 c-613 -77 -1111 -526 -1253 -1132 -25 -102 -27 -132 -28
              -313 0 -223 10 -291 70 -472 103 -309 309 -577 584 -760 120 -80 284 -156 347
              -161 77 -6 84 9 84 174 l0 131 -122 -1 c-107 -1 -131 2 -179 22 -92 37 -142
              89 -198 206 -56 117 -80 148 -150 196 -28 19 -53 41 -56 49 -14 37 49 52 128
              30 46 -12 107 -65 149 -128 45 -67 98 -120 143 -143 55 -29 156 -35 228 -14
              53 15 57 18 63 54 7 41 38 107 62 135 14 16 14 19 2 27 -8 6 -27 10 -41 10
              -14 0 -63 9 -110 21 -193 48 -336 153 -409 303 -63 127 -75 187 -75 366 0 125
              4 166 19 210 21 63 58 131 96 178 l27 33 -14 67 c-18 81 -12 185 14 262 l18
              55 60 -1 c80 -1 146 -24 256 -91 l92 -55 81 18 c114 27 420 27 558 1 l96 -18
              91 55 c110 65 176 89 255 90 l59 1 18 -53 c27 -79 32 -156 16 -247 l-15 -80
              33 -45 c47 -64 81 -137 100 -211 21 -79 16 -300 -9 -394 -44 -165 -145 -296
              -284 -368 -67 -35 -236 -87 -286 -87 -45 0 -48 -13 -16 -76 41 -81 50 -154 50
              -407 0 -135 4 -226 11 -238 16 -30 56 -42 98 -28 73 23 178 73 266 125 303
              180 528 460 640 798 48 143 66 241 72 392 31 711 -468 1345 -1175 1494 -111
              24 -356 34 -466 20z"
                    />
                    <path
                      d="M349 6391 c-34 -33 -39 -45 -39 -83 0 -61 33 -108 88 -128 37 -13 47
              -13 84 0 61 21 91 69 85 134 -4 41 -11 55 -41 83 -31 28 -43 33 -87 33 -46 0
              -55 -4 -90 -39z"
                    />
                    <path
                      d="M959 6415 c-57 -31 -81 -108 -52 -165 44 -86 143 -104 210 -38 41 41
              51 89 30 141 -28 67 -122 98 -188 62z"
                    />
                    <path
                      d="M1229 6391 c-34 -33 -39 -45 -39 -83 0 -61 33 -108 88 -128 37 -13
              47 -13 84 0 61 21 91 69 85 134 -4 41 -11 55 -41 83 -31 28 -43 33 -87 33 -46
              0 -55 -4 -90 -39z"
                    />
                    <path
                      d="M1525 6397 c-57 -57 -59 -132 -4 -186 54 -55 129 -53 186 4 28 28 33
              40 33 80 0 85 -50 135 -135 135 -40 0 -52 -5 -80 -33z"
                    />
                    <path
                      d="M1832 6410 c-42 -26 -66 -81 -57 -128 8 -41 60 -98 98 -108 70 -17
              149 36 162 109 14 75 -49 147 -130 147 -23 0 -54 -9 -73 -20z"
                    />
                    <path
                      d="M2128 6413 c-63 -39 -77 -145 -28 -198 93 -99 258 -9 226 122 -4 14
              -22 41 -41 60 -28 28 -40 33 -81 33 -28 0 -61 -8 -76 -17z"
                    />
                    <path
                      d="M2405 6397 c-57 -57 -59 -132 -4 -186 77 -78 204 -34 217 75 9 86
              -44 144 -133 144 -40 0 -52 -5 -80 -33z"
                    />
                    <path
                      d="M2712 6410 c-41 -25 -66 -81 -57 -127 3 -19 21 -51 40 -71 31 -34 38
              -37 90 -37 52 0 59 3 90 37 19 20 37 52 40 71 14 75 -49 147 -130 147 -23 0
              -54 -9 -73 -20z"
                    />
                    <path
                      d="M3009 6413 c-39 -24 -59 -65 -59 -118 0 -40 5 -52 33 -80 57 -57 132
              -59 186 -4 55 54 53 129 -4 186 -28 28 -40 33 -81 33 -27 0 -61 -8 -75 -17z"
                    />
                    <path
                      d="M7402 6410 c-41 -25 -66 -81 -57 -127 3 -19 21 -51 40 -71 31 -34 38
              -37 90 -37 52 0 59 3 90 37 19 20 37 52 40 71 14 75 -49 147 -130 147 -23 0
              -54 -9 -73 -20z"
                    />
                    <path
                      d="M7976 6399 c-106 -93 -7 -264 127 -220 51 17 78 52 85 107 9 86 -44
              144 -132 144 -36 0 -52 -6 -80 -31z"
                    />
                    <path
                      d="M8282 6410 c-68 -42 -78 -130 -21 -195 52 -59 127 -59 185 -1 84 84
              28 216 -91 216 -23 0 -54 -9 -73 -20z"
                    />
                    <path
                      d="M8579 6413 c-39 -24 -59 -65 -59 -118 0 -40 5 -52 33 -80 57 -57 132
              -59 186 -4 55 54 53 129 -4 186 -28 28 -40 33 -81 33 -27 0 -61 -8 -75 -17z"
                    />
                    <path
                      d="M9162 6410 c-19 -12 -40 -37 -49 -57 -48 -115 85 -230 187 -161 67
              45 84 121 43 185 -35 54 -121 69 -181 33z"
                    />
                    <path
                      d="M9454 6410 c-55 -35 -74 -122 -39 -176 22 -34 74 -64 110 -64 65 0
              135 66 135 128 0 38 -26 88 -58 111 -39 27 -106 28 -148 1z"
                    />
                    <path
                      d="M9734 6397 c-30 -28 -37 -42 -41 -83 -4 -40 0 -55 19 -84 73 -108
              238 -54 238 78 0 38 -5 50 -39 83 -35 35 -44 39 -90 39 -44 0 -56 -5 -87 -33z"
                    />
                    <path
                      d="M659 6117 c-22 -15 -39 -38 -49 -65 -43 -124 106 -227 204 -141 20
              17 40 46 45 65 31 114 -101 208 -200 141z"
                    />
                    <path
                      d="M974 6130 c-30 -12 -71 -64 -79 -100 -9 -40 25 -110 64 -133 85 -50
              201 16 201 114 0 87 -103 153 -186 119z"
                    />
                    <path
                      d="M1249 6117 c-42 -28 -59 -60 -59 -115 0 -34 6 -49 33 -78 28 -31 41
              -37 83 -41 59 -5 90 10 121 56 78 116 -62 256 -178 178z"
                    />
                    <path
                      d="M1539 6117 c-107 -72 -53 -237 79 -237 38 0 50 5 83 39 35 35 39 44
              39 88 0 108 -113 169 -201 110z"
                    />
                    <path
                      d="M3014 6121 c-47 -29 -64 -59 -64 -114 0 -44 4 -54 39 -88 32 -33 45
              -39 80 -39 54 0 97 22 121 63 69 113 -63 247 -176 178z"
                    />
                    <path
                      d="M7112 6120 c-59 -36 -78 -118 -42 -177 24 -41 67 -63 121 -63 35 0
              48 6 80 39 35 35 39 44 39 88 0 106 -109 167 -198 113z"
                    />
                    <path
                      d="M7417 6125 c-124 -64 -80 -245 59 -245 136 0 181 186 59 244 -41 20
              -82 20 -118 1z"
                    />
                    <path
                      d="M7993 6120 c-116 -70 -61 -240 78 -240 35 0 48 6 80 39 35 35 39 44
              39 88 0 105 -109 167 -197 113z"
                    />
                    <path
                      d="M8291 6122 c-37 -20 -71 -73 -71 -110 0 -38 31 -93 64 -113 58 -35
              142 -18 180 37 76 109 -57 251 -173 186z"
                    />
                    <path
                      d="M8584 6121 c-47 -29 -64 -59 -64 -114 0 -44 4 -54 39 -88 33 -34 45
              -39 83 -39 61 0 108 33 128 88 13 37 13 47 0 84 -28 78 -117 111 -186 69z"
                    />
                    <path
                      d="M9753 6120 c-72 -43 -84 -144 -24 -204 28 -28 38 -31 91 -31 54 0 63
              3 91 32 25 24 33 42 36 80 5 58 -10 89 -56 120 -42 28 -95 30 -138 3z"
                    />
                    <path
                      d="M381 5833 c-65 -33 -91 -121 -54 -184 10 -16 37 -39 61 -51 37 -18
              49 -19 81 -10 77 24 121 110 91 182 -26 64 -115 95 -179 63z"
                    />
                    <path
                      d="M980 5839 c-119 -49 -112 -214 10 -249 105 -30 201 80 154 176 -33
              65 -105 98 -164 73z"
                    />
                    <path
                      d="M1553 5829 c-69 -34 -92 -112 -53 -176 27 -45 64 -66 114 -66 82 0
              133 62 123 149 -5 51 -27 81 -74 100 -43 19 -61 18 -110 -7z"
                    />
                    <path
                      d="M2143 5835 c-67 -29 -93 -125 -53 -191 28 -45 95 -71 143 -55 115 38
              130 194 23 242 -49 22 -70 23 -113 4z"
                    />
                    <path
                      d="M2433 5829 c-27 -13 -47 -32 -58 -56 -57 -120 80 -238 193 -165 78
              51 64 191 -23 228 -46 19 -62 18 -112 -7z"
                    />
                    <path
                      d="M3025 5836 c-45 -20 -67 -50 -72 -100 -10 -87 41 -149 123 -149 139
              0 184 183 60 243 -49 23 -69 24 -111 6z"
                    />
                    <path
                      d="M7123 5829 c-106 -52 -90 -207 26 -239 93 -26 170 45 158 146 -5 51
              -27 81 -74 100 -43 19 -61 18 -110 -7z"
                    />
                    <path
                      d="M8004 5831 c-107 -48 -92 -204 23 -242 48 -16 115 10 143 55 41 67
              14 163 -55 192 -44 18 -61 18 -111 -5z"
                    />
                    <path
                      d="M8304 5836 c-86 -39 -108 -152 -40 -215 103 -97 272 20 210 145 -34
              69 -107 99 -170 70z"
                    />
                    <path
                      d="M8910 5843 c-40 -13 -62 -30 -82 -61 -44 -71 -2 -168 83 -194 32 -9
              44 -8 81 10 51 25 78 66 78 119 0 85 -84 151 -160 126z"
                    />
                    <path
                      d="M9761 5833 c-106 -53 -87 -209 30 -245 32 -9 44 -8 81 10 51 25 78
              66 78 119 0 49 -29 95 -73 116 -44 21 -73 21 -116 0z"
                    />
                    <path
                      d="M349 5511 c-34 -33 -39 -45 -39 -83 0 -61 33 -108 88 -128 37 -13 47
              -13 84 0 61 21 91 69 85 134 -4 41 -11 55 -41 83 -31 28 -43 33 -87 33 -46 0
              -55 -4 -90 -39z"
                    />
                    <path
                      d="M645 5517 c-59 -59 -59 -130 -1 -186 107 -104 271 23 202 157 -21 41
              -63 62 -122 62 -39 0 -51 -5 -79 -33z"
                    />
                    <path
                      d="M1249 5533 c-85 -52 -75 -191 16 -229 45 -18 69 -18 112 3 52 24 75
              67 70 127 -4 42 -10 55 -41 83 -30 28 -43 33 -83 33 -27 0 -60 -8 -74 -17z"
                    />
                    <path
                      d="M1832 5530 c-85 -52 -74 -177 18 -225 63 -33 139 -3 174 68 25 52 15
              101 -31 144 -29 28 -42 33 -81 33 -29 0 -59 -8 -80 -20z"
                    />
                    <path
                      d="M2404 5517 c-66 -60 -53 -166 27 -209 41 -22 68 -23 114 -4 92 39
              101 179 15 230 -16 9 -49 16 -74 16 -38 0 -52 -6 -82 -33z"
                    />
                    <path
                      d="M3004 5530 c-41 -26 -58 -68 -51 -126 12 -107 139 -150 216 -73 55
              54 53 129 -4 186 -28 28 -40 33 -81 33 -32 0 -60 -7 -80 -20z"
                    />
                    <path
                      d="M7095 5517 c-57 -57 -59 -132 -4 -186 77 -78 204 -34 217 75 9 86
              -44 144 -133 144 -40 0 -52 -5 -80 -33z"
                    />
                    <path
                      d="M7402 5530 c-85 -52 -74 -177 18 -225 63 -33 139 -3 174 68 25 52 15
              101 -31 144 -29 28 -42 33 -81 33 -29 0 -59 -8 -80 -20z"
                    />
                    <path
                      d="M7698 5533 c-42 -26 -62 -72 -56 -127 7 -55 34 -90 85 -107 134 -44
              233 128 127 220 -28 25 -43 31 -82 31 -26 0 -59 -8 -74 -17z"
                    />
                    <path
                      d="M8267 5517 c-46 -43 -56 -92 -31 -144 35 -71 111 -101 174 -68 130
              67 85 245 -62 245 -39 0 -52 -5 -81 -33z"
                    />
                    <path
                      d="M8578 5534 c-37 -19 -58 -63 -58 -118 0 -111 139 -165 219 -85 55 54
              53 129 -4 186 -28 28 -40 33 -81 33 -27 -1 -61 -7 -76 -16z"
                    />
                    <path
                      d="M8854 5517 c-31 -28 -37 -41 -41 -83 -5 -60 18 -103 70 -127 43 -21
              67 -21 112 -3 92 39 101 179 15 230 -16 9 -49 16 -74 16 -38 0 -52 -6 -82 -33z"
                    />
                    <path
                      d="M369 5237 c-46 -31 -61 -62 -56 -120 11 -124 172 -161 237 -54 72
              117 -68 251 -181 174z"
                    />
                    <path
                      d="M1540 5238 c-50 -34 -70 -93 -50 -150 21 -61 69 -91 134 -85 41 4 55
              11 83 41 28 30 33 43 33 86 0 43 -5 56 -33 86 -28 30 -42 37 -83 41 -40 4 -55
              0 -84 -19z"
                    />
                    <path
                      d="M1840 5244 c-88 -55 -87 -175 2 -228 60 -36 151 -7 182 58 20 43 20
              69 0 112 -31 65 -125 95 -184 58z"
                    />
                    <path
                      d="M2134 5241 c-47 -29 -64 -59 -64 -113 0 -129 173 -176 240 -65 70
              114 -63 247 -176 178z"
                    />
                    <path
                      d="M2715 5240 c-34 -22 -65 -74 -65 -108 0 -39 30 -90 65 -112 89 -55
              199 6 199 110 0 27 -7 56 -17 70 -41 59 -125 78 -182 40z"
                    />
                    <path
                      d="M3024 5250 c-11 -4 -33 -22 -47 -40 -21 -25 -27 -42 -27 -81 0 -42 5
              -55 33 -85 28 -30 42 -37 83 -41 65 -6 113 24 134 85 13 37 13 47 0 84 -25 71
              -105 107 -176 78z"
                    />
                    <path
                      d="M7113 5241 c-120 -75 -55 -254 86 -238 36 4 52 13 78 41 28 30 33 43
              33 86 0 43 -5 56 -33 86 -28 31 -41 37 -83 41 -37 3 -57 -1 -81 -16z"
                    />
                    <path
                      d="M7993 5240 c-120 -73 -55 -253 86 -237 36 4 52 13 78 41 100 109 -37
              274 -164 196z"
                    />
                    <path
                      d="M8873 5240 c-120 -73 -55 -253 85 -237 63 7 103 49 109 114 5 58 -10
              89 -56 120 -42 28 -95 30 -138 3z"
                    />
                    <path
                      d="M9164 5241 c-32 -20 -64 -74 -64 -111 0 -37 32 -91 64 -111 39 -24
              99 -24 137 -2 16 10 39 37 51 61 18 38 19 49 9 82 -17 56 -71 100 -124 100
              -23 0 -56 -8 -73 -19z"
                    />
                    <path
                      d="M675 4952 c-48 -31 -67 -58 -72 -104 -10 -104 99 -174 195 -124 58
              30 84 126 47 182 -37 57 -118 79 -170 46z"
                    />
                    <path
                      d="M980 4959 c-135 -54 -101 -249 44 -251 73 -2 123 44 132 119 6 46
              -21 94 -68 123 -36 22 -69 24 -108 9z"
                    />
                    <path
                      d="M1570 4962 c-81 -36 -112 -121 -70 -189 39 -64 111 -84 178 -49 62
              32 84 135 40 191 -34 44 -105 66 -148 47z"
                    />
                    <path
                      d="M2431 4952 c-74 -40 -92 -143 -35 -203 53 -55 134 -56 188 -2 32 32
              40 61 33 114 -6 47 -29 76 -74 95 -43 19 -72 18 -112 -4z"
                    />
                    <path
                      d="M2719 4947 c-72 -47 -86 -134 -33 -197 70 -82 209 -43 230 65 13 69
              -59 155 -131 155 -18 0 -47 -10 -66 -23z"
                    />
                    <path
                      d="M7121 4952 c-40 -21 -71 -73 -71 -117 0 -63 61 -126 123 -128 86 -2
              143 58 135 144 -6 55 -27 85 -75 105 -43 19 -72 18 -112 -4z"
                    />
                    <path
                      d="M8001 4952 c-74 -40 -92 -143 -35 -203 82 -86 224 -31 224 86 0 52
              -31 102 -75 121 -46 19 -73 18 -114 -4z"
                    />
                    <path
                      d="M9170 4948 c-74 -50 -89 -132 -34 -197 94 -112 282 6 217 136 -37 76
              -121 103 -183 61z"
                    />
                    <path
                      d="M9471 4952 c-69 -35 -93 -111 -57 -180 31 -59 126 -84 181 -48 91 59
              82 181 -17 232 -36 19 -66 18 -107 -4z"
                    />
                    <path
                      d="M9761 4953 c-104 -51 -87 -211 26 -242 77 -22 163 42 163 122 0 54
              -31 104 -75 123 -44 18 -72 17 -114 -3z"
                    />
                    <path
                      d="M645 4637 c-59 -59 -59 -130 -1 -186 107 -104 271 23 202 157 -21 41
              -63 62 -122 62 -39 0 -51 -5 -79 -33z"
                    />
                    <path
                      d="M937 4638 c-44 -43 -55 -95 -30 -145 37 -76 120 -103 183 -61 77 52
              88 142 25 205 -29 29 -39 33 -88 33 -49 0 -60 -4 -90 -32z"
                    />
                    <path
                      d="M1536 4649 c-66 -52 -73 -136 -15 -195 79 -82 206 -38 217 74 8 89
              -41 142 -131 142 -30 0 -53 -7 -71 -21z"
                    />
                    <path
                      d="M2129 4653 c-85 -52 -75 -191 16 -229 46 -19 73 -18 114 4 80 43 93
              149 27 209 -30 28 -43 33 -83 33 -27 0 -60 -8 -74 -17z"
                    />
                    <path
                      d="M2404 4637 c-66 -60 -53 -166 27 -209 41 -22 68 -23 114 -4 91 38
              101 187 15 231 -16 8 -50 15 -75 15 -37 0 -52 -6 -81 -33z"
                    />
                    <path
                      d="M7094 4637 c-107 -98 5 -270 139 -214 93 39 104 187 17 232 -16 8
              -50 15 -75 15 -37 0 -52 -6 -81 -33z"
                    />
                    <path
                      d="M7698 4654 c-84 -45 -73 -192 17 -230 46 -19 73 -18 114 4 80 43 93
              149 27 209 -30 28 -43 33 -83 33 -27 -1 -60 -7 -75 -16z"
                    />
                    <path
                      d="M7974 4637 c-66 -60 -53 -166 27 -209 41 -22 68 -23 114 -4 92 39
              101 179 15 230 -16 9 -49 16 -74 16 -38 0 -52 -6 -82 -33z"
                    />
                    <path
                      d="M8265 4637 c-44 -44 -53 -93 -29 -143 26 -53 66 -79 119 -79 53 0 93
              26 119 79 25 51 15 100 -31 143 -30 29 -41 33 -90 33 -49 0 -59 -4 -88 -33z"
                    />
                    <path
                      d="M8578 4654 c-57 -30 -79 -131 -40 -183 49 -68 139 -77 198 -20 58 56
              58 127 -1 186 -28 28 -40 33 -81 33 -27 -1 -61 -7 -76 -16z"
                    />
                    <path
                      d="M8854 4637 c-69 -63 -53 -172 30 -211 42 -20 67 -20 111 -2 92 39
              101 179 15 230 -16 9 -49 16 -74 16 -38 0 -52 -6 -82 -33z"
                    />
                    <path
                      d="M9145 4637 c-63 -63 -52 -153 25 -205 63 -42 146 -15 183 61 25 50
              14 102 -30 145 -30 28 -41 32 -90 32 -49 0 -59 -4 -88 -33z"
                    />
                    <path
                      d="M9734 4637 c-31 -28 -37 -41 -41 -83 -5 -60 18 -103 70 -127 43 -21
              67 -21 112 -3 92 39 101 179 15 230 -16 9 -49 16 -74 16 -38 0 -52 -6 -82 -33z"
                    />
                    <path
                      d="M369 4357 c-41 -27 -59 -60 -59 -107 0 -97 104 -159 191 -115 59 31
              86 115 56 175 -18 37 -74 70 -117 70 -22 0 -51 -9 -71 -23z"
                    />
                    <path
                      d="M659 4357 c-22 -15 -39 -38 -49 -65 -32 -91 37 -178 133 -169 119 11
              162 147 71 226 -44 39 -104 42 -155 8z"
                    />
                    <path
                      d="M1254 4361 c-45 -27 -64 -59 -64 -106 0 -52 17 -84 59 -112 61 -41
              143 -23 181 40 70 114 -63 247 -176 178z"
                    />
                    <path
                      d="M1543 4360 c-81 -49 -82 -170 -1 -220 52 -33 122 -23 165 24 28 31
              33 43 33 87 0 46 -4 55 -39 90 -33 33 -45 39 -82 39 -26 0 -57 -8 -76 -20z"
                    />
                    <path
                      d="M1837 4361 c-62 -40 -79 -100 -47 -165 48 -100 187 -101 234 -2 20
              43 20 69 -1 113 -32 68 -125 95 -186 54z"
                    />
                    <path
                      d="M2715 4360 c-34 -22 -65 -74 -65 -108 0 -39 30 -90 65 -112 66 -41
              151 -16 185 54 24 51 25 68 4 112 -32 68 -127 95 -189 54z"
                    />
                    <path
                      d="M2989 4341 c-35 -35 -39 -44 -39 -90 0 -44 5 -56 33 -87 43 -47 113
              -57 165 -24 59 36 78 118 42 177 -24 41 -67 63 -121 63 -35 0 -48 -6 -80 -39z"
                    />
                    <path
                      d="M7113 4361 c-81 -51 -82 -171 -1 -221 52 -33 122 -23 165 24 28 30
              33 43 33 86 0 43 -5 56 -33 86 -28 31 -41 37 -83 41 -37 3 -57 -1 -81 -16z"
                    />
                    <path
                      d="M7714 4370 c-11 -4 -33 -22 -47 -40 -21 -25 -27 -42 -27 -81 0 -42 5
              -55 33 -85 80 -87 227 -32 227 86 0 91 -99 155 -186 120z"
                    />
                    <path
                      d="M8284 4361 c-32 -20 -64 -74 -64 -111 0 -64 66 -130 130 -130 105 0
              173 120 114 204 -38 55 -122 72 -180 37z"
                    />
                    <path
                      d="M8873 4360 c-112 -68 -62 -240 70 -240 40 0 96 35 114 70 59 116 -73
              238 -184 170z"
                    />
                    <path
                      d="M383 4075 c-43 -19 -73 -69 -73 -124 0 -37 6 -49 39 -82 35 -35 44
              -39 90 -39 44 0 56 5 87 33 31 28 37 41 41 83 5 61 -21 108 -72 130 -43 17
              -71 17 -112 -1z"
                    />
                    <path
                      d="M1263 4075 c-43 -19 -73 -69 -73 -124 0 -37 6 -49 39 -82 35 -35 44
              -39 90 -39 44 0 56 5 87 33 31 28 37 41 41 83 5 60 -18 103 -70 127 -42 20
              -71 21 -114 2z"
                    />
                    <path
                      d="M1551 4072 c-65 -35 -89 -118 -51 -179 26 -43 61 -64 108 -65 142 -2
              186 194 56 248 -45 19 -73 18 -113 -4z"
                    />
                    <path
                      d="M2145 4076 c-45 -20 -67 -50 -73 -102 -9 -84 47 -147 130 -146 47 1
              82 22 108 65 38 61 14 145 -50 179 -41 21 -73 22 -115 4z"
                    />
                    <path
                      d="M2431 4072 c-65 -35 -89 -118 -51 -179 26 -43 61 -64 108 -65 83 -1
              139 62 130 146 -6 53 -28 82 -75 102 -43 19 -72 18 -112 -4z"
                    />
                    <path
                      d="M3024 4076 c-94 -41 -101 -178 -12 -231 37 -21 101 -22 134 0 34 22
              64 74 64 110 0 44 -31 96 -71 117 -40 21 -72 22 -115 4z"
                    />
                    <path
                      d="M7121 4072 c-65 -35 -89 -118 -51 -179 26 -43 61 -64 108 -65 142 -2
              186 194 56 248 -45 19 -73 18 -113 -4z"
                    />
                    <path
                      d="M7409 4067 c-97 -64 -83 -194 25 -231 122 -42 224 98 145 198 -45 58
              -113 71 -170 33z"
                    />
                    <path
                      d="M7715 4076 c-45 -20 -67 -50 -73 -102 -9 -84 47 -147 130 -146 47 1
              82 22 108 65 38 61 14 144 -51 179 -39 21 -72 22 -114 4z"
                    />
                    <path
                      d="M8000 4072 c-79 -42 -92 -149 -26 -209 91 -84 228 -13 214 111 -6 53
              -28 82 -75 102 -43 19 -72 18 -113 -4z"
                    />
                    <path
                      d="M9463 4070 c-64 -39 -84 -111 -49 -178 42 -82 170 -86 222 -7 74 114
              -58 256 -173 185z"
                    />
                    <path
                      d="M656 3769 c-88 -69 -63 -198 45 -230 132 -40 221 141 112 228 -38 31
              -119 32 -157 2z"
                    />
                    <path
                      d="M1249 3773 c-85 -52 -75 -191 16 -229 46 -19 73 -18 114 4 80 43 93
              149 27 209 -30 28 -43 33 -83 33 -27 0 -60 -8 -74 -17z"
                    />
                    <path
                      d="M1522 3756 c-34 -32 -37 -39 -37 -89 0 -61 21 -94 79 -124 77 -40
              178 29 178 122 0 75 -54 125 -137 125 -38 0 -52 -6 -83 -34z"
                    />
                    <path
                      d="M1815 3757 c-44 -44 -53 -93 -29 -143 26 -53 66 -79 119 -79 53 0 93
              26 119 79 24 50 15 99 -29 143 -30 30 -39 33 -90 33 -51 0 -60 -3 -90 -33z"
                    />
                    <path
                      d="M2695 3757 c-44 -44 -53 -93 -29 -143 26 -53 66 -79 119 -79 53 0 93
              26 119 79 24 50 15 99 -29 143 -30 30 -39 33 -90 33 -51 0 -60 -3 -90 -33z"
                    />
                    <path
                      d="M7385 3757 c-44 -44 -53 -93 -29 -143 26 -53 66 -79 119 -79 53 0 93
              26 119 79 24 50 15 99 -29 143 -30 30 -39 33 -90 33 -51 0 -60 -3 -90 -33z"
                    />
                    <path
                      d="M7698 3774 c-85 -46 -73 -192 19 -231 134 -56 246 116 139 214 -30
              28 -43 33 -83 33 -27 -1 -60 -7 -75 -16z"
                    />
                    <path
                      d="M8265 3757 c-44 -44 -53 -93 -29 -143 26 -53 66 -79 119 -79 53 0 93
              26 119 79 24 50 15 99 -29 143 -30 30 -39 33 -90 33 -51 0 -60 -3 -90 -33z"
                    />
                    <path
                      d="M9749 3773 c-84 -52 -75 -184 15 -227 43 -20 69 -20 113 1 91 43 98
              176 13 227 -36 20 -107 20 -141 -1z"
                    />
                    <path
                      d="M354 3467 c-112 -102 12 -281 147 -212 59 31 86 115 56 175 -20 39
              -74 70 -124 70 -35 0 -50 -6 -79 -33z"
                    />
                    <path
                      d="M662 3480 c-34 -21 -62 -71 -62 -111 0 -35 32 -90 64 -111 69 -43
              173 -1 195 79 32 113 -95 205 -197 143z"
                    />
                    <path
                      d="M957 3481 c-78 -51 -84 -145 -14 -210 57 -52 161 -31 199 40 22 41
              23 68 4 114 -28 67 -128 97 -189 56z"
                    />
                    <path
                      d="M1229 3461 c-34 -33 -39 -45 -39 -82 0 -56 16 -87 59 -116 61 -41
              143 -23 181 40 55 90 -11 197 -121 197 -35 0 -48 -6 -80 -39z"
                    />
                    <path
                      d="M1543 3480 c-81 -49 -82 -170 -1 -220 52 -33 122 -23 165 24 28 31
              33 43 33 87 0 46 -4 55 -39 90 -33 33 -45 39 -82 39 -26 0 -57 -8 -76 -20z"
                    />
                    <path
                      d="M1833 3479 c-70 -45 -79 -131 -20 -195 98 -107 269 5 214 139 -30 71
              -127 99 -194 56z"
                    />
                    <path
                      d="M2109 3461 c-35 -35 -39 -44 -39 -88 0 -134 171 -183 240 -70 55 90
              -11 197 -121 197 -35 0 -48 -6 -80 -39z"
                    />
                    <path
                      d="M2714 3481 c-17 -10 -38 -35 -48 -55 -63 -133 116 -251 213 -141 40
              45 48 92 25 140 -33 70 -123 97 -190 56z"
                    />
                    <path
                      d="M2989 3461 c-35 -35 -39 -44 -39 -88 0 -56 22 -93 70 -118 114 -59
              237 72 170 182 -24 41 -67 63 -121 63 -35 0 -48 -6 -80 -39z"
                    />
                    <path
                      d="M7404 3481 c-41 -25 -68 -82 -59 -128 3 -19 21 -50 38 -69 62 -68
              166 -53 207 30 24 51 25 68 3 113 -32 68 -123 94 -189 54z"
                    />
                    <path
                      d="M7679 3461 c-35 -35 -39 -44 -39 -88 0 -56 22 -93 70 -118 114 -59
              237 72 170 182 -24 41 -67 63 -121 63 -35 0 -48 -6 -80 -39z"
                    />
                    <path
                      d="M7993 3480 c-61 -37 -81 -116 -43 -177 69 -113 240 -64 240 70 0 44
              -4 53 -39 88 -33 33 -45 39 -82 39 -26 0 -57 -8 -76 -20z"
                    />
                    <path
                      d="M8282 3480 c-86 -53 -76 -180 17 -226 115 -56 238 85 165 190 -39 56
              -122 72 -182 36z"
                    />
                    <path
                      d="M8873 3480 c-112 -68 -62 -240 70 -240 40 0 96 35 114 70 7 14 13 45
              13 69 0 37 -5 49 -39 82 -33 33 -45 39 -82 39 -26 0 -57 -8 -76 -20z"
                    />
                    <path
                      d="M9460 3483 c-75 -52 -85 -140 -23 -205 32 -34 82 -45 133 -29 101 30
              118 176 28 231 -41 24 -105 26 -138 3z"
                    />
                    <path
                      d="M9749 3477 c-139 -93 -5 -304 138 -217 45 27 66 73 60 129 -11 96
              -117 143 -198 88z"
                    />
                    <path
                      d="M960 3188 c-67 -45 -84 -121 -43 -185 53 -80 192 -66 230 24 48 115
              -85 230 -187 161z"
                    />
                    <path
                      d="M2723 3190 c-118 -72 -75 -240 62 -240 110 0 170 120 104 204 -44 56
              -110 70 -166 36z"
                    />
                    <path
                      d="M3014 3191 c-46 -28 -64 -59 -64 -109 0 -81 51 -132 133 -132 98 0
              156 101 109 189 -35 65 -118 89 -178 52z"
                    />
                    <path
                      d="M3893 3190 c-43 -26 -64 -61 -65 -108 -2 -139 183 -185 247 -62 31
              61 6 139 -56 172 -44 23 -86 23 -126 -2z"
                    />
                    <path
                      d="M5650 3188 c-67 -45 -84 -121 -43 -185 53 -80 192 -66 230 24 48 115
              -85 230 -187 161z"
                    />
                    <path
                      d="M6241 3192 c-62 -33 -87 -111 -56 -172 24 -46 62 -70 112 -70 80 0
              136 54 135 132 -1 47 -22 82 -65 108 -40 25 -82 25 -126 2z"
                    />
                    <path
                      d="M6819 3187 c-43 -29 -59 -60 -59 -116 0 -37 5 -49 39 -82 35 -35 44
              -39 88 -39 56 0 93 22 118 70 60 117 -77 240 -186 167z"
                    />
                    <path
                      d="M7120 3192 c-117 -62 -74 -242 57 -242 82 0 133 51 133 133 0 98
              -101 156 -190 109z"
                    />
                    <path
                      d="M7413 3190 c-118 -72 -75 -240 62 -240 110 0 170 120 104 204 -44 56
              -110 70 -166 36z"
                    />
                    <path
                      d="M8293 3190 c-118 -72 -75 -240 62 -240 109 0 170 120 104 204 -44 56
              -110 70 -166 36z"
                    />
                    <path
                      d="M8584 3191 c-46 -28 -64 -59 -64 -109 0 -81 51 -132 133 -132 98 0
              156 101 109 189 -35 65 -118 89 -178 52z"
                    />
                    <path
                      d="M9463 3190 c-43 -26 -66 -63 -66 -109 0 -82 64 -138 147 -129 53 6
              82 28 102 75 19 43 18 72 -4 112 -35 65 -118 89 -179 51z"
                    />
                    <path
                      d="M9763 3195 c-49 -21 -75 -69 -70 -129 4 -42 10 -55 41 -83 30 -28 43
              -33 86 -33 43 0 56 5 86 33 31 28 37 41 41 83 5 61 -21 108 -72 130 -43 17
              -71 17 -112 -1z"
                    />
                    <path
                      d="M395 2904 c-22 -7 -41 -14 -42 -14 -1 0 -11 -15 -22 -34 -53 -86 10
              -206 109 -206 37 0 89 30 110 65 66 106 -37 231 -155 189z"
                    />
                    <path
                      d="M696 2909 c-53 -15 -96 -72 -96 -127 0 -70 87 -140 157 -127 47 9
              103 63 104 102 3 75 -7 102 -48 131 -35 24 -79 32 -117 21z"
                    />
                    <path
                      d="M1289 2910 c-68 -20 -99 -60 -99 -127 0 -111 133 -171 214 -96 47 43
              58 99 31 157 -24 50 -93 82 -146 66z"
                    />
                    <path
                      d="M1575 2909 c-17 -5 -44 -22 -60 -39 -26 -27 -30 -39 -30 -86 0 -51 3
              -58 37 -89 47 -44 95 -53 145 -29 143 71 62 286 -92 243z"
                    />
                    <path
                      d="M1872 2910 c-94 -22 -129 -134 -65 -210 95 -113 282 5 217 136 -31
              62 -86 89 -152 74z"
                    />
                    <path
                      d="M2171 2912 c-120 -21 -138 -201 -24 -248 49 -21 96 -11 141 31 34 31
              37 38 37 88 0 45 -5 60 -25 82 -38 41 -80 56 -129 47z"
                    />
                    <path
                      d="M2455 2909 c-17 -5 -44 -22 -60 -39 -26 -27 -30 -39 -30 -86 0 -51 3
              -58 37 -89 45 -42 92 -52 141 -31 67 27 97 118 63 185 -27 51 -91 77 -151 60z"
                    />
                    <path
                      d="M2750 2909 c-75 -16 -118 -106 -84 -175 26 -53 66 -79 119 -79 53 0
              93 26 119 79 47 96 -42 199 -154 175z"
                    />
                    <path
                      d="M3051 2912 c-120 -21 -138 -201 -24 -248 49 -21 96 -11 141 31 34 31
              37 38 37 88 0 45 -5 60 -25 82 -38 41 -80 56 -129 47z"
                    />
                    <path
                      d="M3335 2909 c-112 -32 -126 -188 -21 -239 51 -24 68 -25 113 -3 66 31
              93 116 58 183 -25 47 -95 75 -150 59z"
                    />
                    <path
                      d="M3626 2909 c-61 -17 -104 -88 -91 -149 10 -44 51 -88 94 -101 105
              -31 203 81 155 177 -31 62 -94 91 -158 73z"
                    />
                    <path
                      d="M3930 2913 c-63 -9 -117 -94 -99 -156 13 -48 38 -78 76 -94 49 -20
              96 -9 141 32 34 31 37 38 37 88 0 45 -5 60 -25 82 -38 41 -78 55 -130 48z"
                    />
                    <path
                      d="M4215 2909 c-107 -33 -129 -170 -38 -234 84 -59 203 5 203 109 0 86
              -84 150 -165 125z"
                    />
                    <path
                      d="M4506 2909 c-98 -28 -124 -157 -45 -223 85 -72 212 -13 212 98 0 90
              -80 150 -167 125z"
                    />
                    <path
                      d="M4802 2910 c-100 -23 -131 -157 -51 -224 62 -53 149 -38 196 33 65
              97 -28 218 -145 191z"
                    />
                    <path
                      d="M6562 2910 c-94 -22 -129 -134 -65 -210 95 -113 282 5 217 136 -31
              62 -86 89 -152 74z"
                    />
                    <path
                      d="M7440 2909 c-75 -16 -118 -106 -84 -175 26 -53 66 -79 119 -79 53 0
              93 26 119 79 47 96 -42 199 -154 175z"
                    />
                    <path
                      d="M7741 2912 c-120 -21 -138 -201 -24 -248 49 -21 96 -11 141 31 34 31
              37 38 37 88 0 45 -5 60 -25 82 -38 41 -80 56 -129 47z"
                    />
                    <path
                      d="M8025 2909 c-17 -5 -44 -22 -60 -39 -26 -27 -30 -39 -30 -86 0 -51 3
              -58 37 -89 47 -43 94 -53 143 -29 68 32 95 116 60 184 -25 47 -95 75 -150 59z"
                    />
                    <path
                      d="M8316 2909 c-61 -17 -104 -88 -91 -149 10 -44 51 -88 94 -101 105
              -31 203 81 155 177 -31 62 -94 91 -158 73z"
                    />
                    <path
                      d="M8620 2913 c-63 -9 -117 -94 -99 -156 13 -48 38 -78 76 -94 49 -20
              96 -9 141 32 34 31 37 38 37 88 0 45 -5 60 -25 82 -38 41 -78 55 -130 48z"
                    />
                    <path
                      d="M8904 2909 c-95 -27 -124 -148 -52 -218 106 -104 272 26 203 159 -25
              48 -95 75 -151 59z"
                    />
                    <path
                      d="M9785 2909 c-86 -26 -121 -119 -75 -194 21 -35 73 -65 110 -65 66 0
              130 66 130 135 0 85 -84 148 -165 124z"
                    />
                    <path
                      d="M2712 2600 c-41 -25 -66 -81 -57 -127 3 -19 21 -51 40 -71 31 -34 38
              -37 90 -37 52 0 59 3 90 37 43 47 53 94 29 143 -33 71 -123 97 -192 55z"
                    />
                    <path
                      d="M3296 2599 c-14 -11 -33 -34 -41 -49 -60 -117 77 -240 186 -167 43
              29 59 60 59 116 0 37 -5 49 -39 82 -35 35 -44 39 -88 39 -36 0 -58 -6 -77 -21z"
                    />
                    <path
                      d="M3592 2600 c-86 -53 -76 -180 17 -226 118 -57 236 83 163 194 -34 53
              -121 68 -180 32z"
                    />
                    <path
                      d="M4472 2600 c-34 -21 -62 -72 -62 -112 0 -37 34 -90 71 -110 73 -41
              167 0 189 83 30 112 -96 201 -198 139z"
                    />
                    <path
                      d="M5352 2600 c-34 -21 -62 -72 -62 -112 0 -62 70 -128 135 -128 66 0
              128 63 128 129 0 104 -111 165 -201 111z"
                    />
                    <path
                      d="M5647 2601 c-78 -51 -84 -145 -14 -210 57 -52 161 -31 199 40 22 41
              23 68 4 114 -28 67 -128 97 -189 56z"
                    />
                    <path
                      d="M6233 2600 c-60 -36 -79 -106 -45 -169 35 -65 118 -89 179 -51 43 26
              64 61 65 108 1 104 -110 167 -199 112z"
                    />
                    <path
                      d="M6799 2581 c-34 -33 -39 -45 -39 -82 0 -56 16 -87 59 -116 109 -73
              246 50 186 167 -23 45 -66 70 -120 70 -42 0 -52 -5 -86 -39z"
                    />
                    <path
                      d="M7113 2600 c-58 -35 -77 -98 -49 -165 37 -88 162 -99 225 -19 26 33
              28 104 5 144 -35 59 -119 78 -181 40z"
                    />
                    <path
                      d="M7402 2600 c-41 -25 -66 -81 -57 -127 3 -19 21 -51 40 -71 31 -34 38
              -37 90 -37 52 0 59 3 90 37 19 20 37 52 40 71 14 75 -49 147 -130 147 -23 0
              -54 -9 -73 -20z"
                    />
                    <path
                      d="M8579 2603 c-85 -52 -78 -182 11 -228 113 -58 236 74 170 182 -36 59
              -124 82 -181 46z"
                    />
                    <path
                      d="M9459 2603 c-58 -35 -80 -125 -45 -178 23 -35 74 -65 111 -65 65 0
              135 66 135 128 0 40 -28 91 -62 112 -40 24 -103 26 -139 3z"
                    />
                    <path
                      d="M9734 2587 c-87 -80 -32 -227 86 -227 118 0 173 147 86 227 -30 28
              -43 33 -86 33 -43 0 -56 -5 -86 -33z"
                    />
                    <path
                      d="M659 2320 c-202 -63 -334 -225 -361 -442 -5 -43 -8 -311 -6 -620 4
              -521 5 -545 25 -598 69 -185 171 -285 352 -348 39 -13 126 -16 589 -19 311 -3
              576 0 620 5 219 28 381 161 443 365 18 58 19 103 19 657 0 557 -1 599 -19 655
              -54 169 -177 293 -346 346 -56 18 -98 19 -660 18 -545 -1 -605 -2 -656 -19z
              m1126 -283 c127 -40 219 -134 253 -257 10 -34 12 -156 10 -485 l-3 -440 -29
              -57 c-39 -77 -105 -144 -174 -176 l-57 -27 -465 0 -465 0 -57 27 c-71 33 -143
              106 -177 178 l-26 55 0 465 0 465 26 56 c41 87 131 166 224 195 57 18 883 19
              940 1z"
                    />
                    <path
                      d="M1025 1744 c-49 -18 -99 -65 -125 -119 -18 -38 -20 -62 -20 -303 0
              -290 3 -307 63 -371 64 -67 82 -71 375 -71 291 0 301 2 370 64 66 60 72 92 72
              374 0 164 -4 258 -12 286 -16 54 -90 128 -144 144 -63 18 -526 15 -579 -4z"
                    />
                    <path
                      d="M2734 2321 c-31 -14 -72 -68 -79 -105 -27 -143 186 -204 249 -71 23
              49 14 96 -27 142 -26 28 -42 36 -77 39 -25 2 -54 0 -66 -5z"
                    />
                    <path
                      d="M3014 2311 c-47 -29 -64 -59 -64 -114 0 -44 4 -54 39 -88 33 -34 45
              -39 82 -39 56 0 87 16 116 59 75 111 -59 252 -173 182z"
                    />
                    <path
                      d="M4183 2310 c-75 -45 -84 -148 -19 -207 30 -28 43 -33 86 -33 43 0 56
              5 86 33 87 80 32 227 -86 227 -19 0 -49 -9 -67 -20z"
                    />
                    <path
                      d="M4481 2312 c-37 -20 -71 -73 -71 -110 0 -141 202 -182 254 -51 46
              113 -75 219 -183 161z"
                    />
                    <path
                      d="M5649 2307 c-85 -57 -86 -163 -2 -218 61 -41 161 -11 189 56 19 46
              18 73 -4 114 -36 67 -121 90 -183 48z"
                    />
                    <path
                      d="M5943 2310 c-41 -24 -63 -67 -63 -121 0 -35 6 -48 39 -80 35 -35 44
              -39 90 -39 44 0 56 5 87 33 87 80 32 227 -86 227 -19 0 -49 -9 -67 -20z"
                    />
                    <path
                      d="M6530 2308 c-67 -45 -84 -121 -43 -185 53 -80 192 -66 230 24 48 115
              -85 230 -187 161z"
                    />
                    <path
                      d="M6819 2307 c-43 -29 -59 -60 -59 -116 0 -37 5 -49 39 -82 35 -35 44
              -39 88 -39 56 0 93 22 118 70 61 118 -77 241 -186 167z"
                    />
                    <path
                      d="M7424 2321 c-32 -14 -72 -68 -80 -105 -8 -44 19 -102 60 -127 67 -41
              157 -14 190 56 23 49 14 96 -27 142 -26 28 -42 36 -77 39 -25 2 -54 0 -66 -5z"
                    />
                    <path
                      d="M8003 2315 c-63 -27 -91 -112 -58 -175 25 -48 62 -70 118 -70 44 0
              53 4 88 39 35 35 39 44 39 88 0 101 -92 159 -187 118z"
                    />
                    <path
                      d="M8584 2311 c-47 -29 -64 -59 -64 -114 0 -44 4 -54 39 -88 33 -34 45
              -39 82 -39 56 0 87 16 116 59 75 111 -60 251 -173 182z"
                    />
                    <path
                      d="M8873 2310 c-75 -45 -84 -148 -19 -207 31 -28 43 -33 87 -33 46 0 55
              4 90 39 34 33 39 45 39 82 0 56 -16 87 -59 116 -42 28 -95 30 -138 3z"
                    />
                    <path
                      d="M9753 2310 c-75 -45 -84 -148 -19 -207 30 -28 43 -33 86 -33 43 0 56
              5 86 33 87 80 32 227 -86 227 -19 0 -49 -9 -67 -20z"
                    />
                    <path
                      d="M2746 2030 c-90 -28 -121 -136 -59 -210 95 -113 282 5 217 136 -32
              63 -95 93 -158 74z"
                    />
                    <path
                      d="M4195 2020 c-101 -50 -100 -182 1 -230 88 -43 184 16 184 113 0 102
              -96 163 -185 117z"
                    />
                    <path
                      d="M5075 2021 c-115 -53 -92 -222 33 -246 43 -8 111 24 135 64 39 66 9
              156 -63 185 -50 20 -56 20 -105 -3z"
                    />
                    <path
                      d="M5386 2030 c-53 -17 -96 -73 -96 -128 0 -40 38 -94 83 -116 51 -24
              100 -15 144 29 32 32 39 56 34 115 -6 71 -91 122 -165 100z"
                    />
                    <path
                      d="M5676 2030 c-96 -29 -122 -159 -46 -224 58 -48 136 -42 184 15 83 99
              -14 246 -138 209z"
                    />
                    <path
                      d="M6855 2033 c-57 -15 -95 -66 -95 -128 0 -124 142 -175 228 -82 49 52
              35 154 -26 189 -32 19 -79 28 -107 21z"
                    />
                    <path
                      d="M7145 2029 c-17 -4 -44 -22 -60 -39 -26 -27 -30 -39 -30 -86 0 -51 3
              -58 37 -89 47 -43 94 -53 143 -29 47 22 75 67 75 119 0 90 -79 150 -165 124z"
                    />
                    <path
                      d="M7436 2030 c-90 -28 -121 -136 -59 -210 95 -113 282 5 217 136 -32
              63 -95 93 -158 74z"
                    />
                    <path
                      d="M8604 2029 c-109 -32 -114 -201 -7 -246 49 -20 96 -9 141 32 34 31
              37 38 37 89 0 47 -4 59 -29 85 -17 17 -46 36 -65 41 -41 11 -36 11 -77 -1z"
                    />
                    <path
                      d="M9484 2029 c-88 -26 -117 -143 -50 -213 60 -65 152 -54 204 24 47 70
              7 166 -77 190 -41 11 -36 11 -77 -1z"
                    />
                    <path
                      d="M9765 2021 c-69 -32 -96 -117 -58 -182 24 -40 93 -73 135 -64 126 28
              149 194 35 246 -52 23 -62 23 -112 0z"
                    />
                    <path
                      d="M3009 1723 c-39 -24 -59 -65 -59 -118 0 -40 5 -52 33 -80 57 -57 132
              -59 186 -4 55 54 53 129 -4 186 -28 28 -40 33 -81 33 -27 0 -61 -8 -75 -17z"
                    />
                    <path
                      d="M3284 1707 c-89 -82 -31 -227 91 -227 68 0 125 63 125 139 0 37 -6
              49 -39 82 -35 35 -44 39 -90 39 -44 0 -56 -5 -87 -33z"
                    />
                    <path
                      d="M3592 1720 c-71 -44 -79 -138 -17 -200 32 -31 41 -35 89 -35 44 0 60
              5 81 25 55 51 66 119 27 178 -34 53 -121 68 -180 32z"
                    />
                    <path
                      d="M3889 1723 c-37 -23 -61 -68 -61 -115 1 -47 22 -82 65 -108 107 -66
              240 58 182 170 -33 65 -125 91 -186 53z"
                    />
                    <path
                      d="M4164 1707 c-30 -28 -37 -42 -41 -83 -4 -40 0 -55 19 -84 73 -108
              238 -54 238 78 0 38 -5 50 -39 83 -35 35 -44 39 -90 39 -44 0 -56 -5 -87 -33z"
                    />
                    <path
                      d="M4764 1720 c-55 -35 -74 -122 -39 -176 22 -34 74 -64 110 -64 65 0
              135 66 135 128 0 38 -26 88 -58 111 -39 27 -106 28 -148 1z"
                    />
                    <path
                      d="M5346 1718 c-31 -23 -56 -73 -56 -110 0 -62 70 -128 135 -128 36 0
              88 30 110 64 36 54 16 142 -40 176 -44 27 -111 26 -149 -2z"
                    />
                    <path
                      d="M5919 1701 c-34 -33 -39 -45 -39 -83 0 -61 33 -108 88 -128 37 -13
              47 -13 84 0 61 21 91 69 85 134 -4 41 -11 55 -41 83 -31 28 -43 33 -87 33 -46
              0 -55 -4 -90 -39z"
                    />
                    <path
                      d="M6524 1721 c-41 -25 -68 -82 -59 -128 3 -19 21 -51 40 -71 31 -34 38
              -37 90 -37 52 0 59 3 90 37 42 45 52 92 31 141 -29 70 -125 99 -192 58z"
                    />
                    <path
                      d="M6799 1701 c-34 -33 -39 -45 -39 -82 0 -56 16 -87 59 -116 59 -40
              143 -22 181 39 33 52 23 122 -24 165 -31 28 -43 33 -87 33 -46 0 -55 -4 -90
              -39z"
                    />
                    <path
                      d="M7095 1707 c-57 -57 -59 -132 -4 -186 54 -55 129 -53 186 4 28 28 33
              40 33 80 0 85 -50 135 -135 135 -40 0 -52 -5 -80 -33z"
                    />
                    <path
                      d="M7402 1720 c-41 -25 -66 -81 -57 -127 3 -19 21 -51 40 -71 31 -34 38
              -37 90 -37 52 0 59 3 90 37 19 20 37 52 40 71 14 75 -49 147 -130 147 -23 0
              -54 -9 -73 -20z"
                    />
                    <path
                      d="M7699 1723 c-39 -24 -59 -65 -59 -118 0 -40 5 -52 33 -80 57 -57 132
              -59 186 -4 55 54 53 129 -4 186 -28 28 -40 33 -81 33 -27 0 -61 -8 -75 -17z"
                    />
                    <path
                      d="M7975 1707 c-19 -19 -37 -46 -41 -60 -17 -71 31 -149 99 -162 49 -9
              81 0 119 34 26 23 32 36 36 84 4 55 3 58 -36 97 -36 36 -44 40 -92 40 -46 0
              -56 -4 -85 -33z"
                    />
                    <path
                      d="M8282 1720 c-41 -25 -66 -81 -57 -127 3 -19 21 -51 40 -71 31 -34 38
              -37 90 -37 52 0 59 3 90 37 19 20 37 52 40 71 14 75 -49 147 -130 147 -23 0
              -54 -9 -73 -20z"
                    />
                    <path
                      d="M8579 1723 c-39 -24 -59 -65 -59 -118 0 -40 5 -52 33 -80 57 -57 132
              -59 186 -4 56 55 53 131 -5 186 -30 28 -43 33 -82 33 -26 0 -59 -8 -73 -17z"
                    />
                    <path
                      d="M3303 1430 c-63 -38 -81 -120 -40 -181 29 -43 60 -59 116 -59 37 0
              49 5 82 39 34 33 39 45 39 82 0 56 -16 87 -59 116 -42 28 -95 30 -138 3z"
                    />
                    <path
                      d="M3601 1432 c-37 -20 -71 -73 -71 -110 0 -40 28 -91 62 -112 107 -65
              242 40 195 151 -33 78 -116 110 -186 71z"
                    />
                    <path
                      d="M4183 1430 c-63 -38 -81 -120 -40 -181 28 -42 60 -59 115 -59 34 0
              49 6 78 33 31 28 37 41 41 83 5 59 -10 90 -56 121 -42 28 -95 30 -138 3z"
                    />
                    <path
                      d="M4481 1432 c-37 -20 -71 -73 -71 -110 0 -70 62 -132 133 -132 53 0
              94 27 119 78 18 37 19 49 10 81 -26 84 -118 124 -191 83z"
                    />
                    <path
                      d="M5063 1430 c-72 -43 -84 -144 -24 -204 28 -28 38 -31 91 -31 53 0 63
              3 91 31 81 81 23 224 -91 224 -19 0 -49 -9 -67 -20z"
                    />
                    <path
                      d="M6229 1427 c-107 -72 -53 -237 79 -237 38 0 50 5 83 39 35 35 39 44
              39 88 0 108 -113 169 -201 110z"
                    />
                    <path
                      d="M6545 1440 c-72 -29 -103 -131 -59 -194 56 -81 192 -70 230 19 19 46
              18 73 -4 114 -31 57 -108 86 -167 61z"
                    />
                    <path
                      d="M6824 1431 c-47 -29 -64 -59 -64 -114 0 -44 4 -54 39 -88 33 -34 45
              -39 82 -39 56 0 87 16 116 59 76 113 -57 253 -173 182z"
                    />
                    <path
                      d="M7112 1430 c-59 -36 -78 -118 -42 -177 24 -41 67 -63 121 -63 35 0
              48 6 80 39 35 35 39 44 39 88 0 106 -109 167 -198 113z"
                    />
                    <path
                      d="M7424 1440 c-31 -12 -72 -66 -80 -104 -4 -23 0 -46 12 -71 47 -100
              191 -100 238 -1 50 106 -61 220 -170 176z"
                    />
                    <path
                      d="M7704 1431 c-47 -29 -64 -59 -64 -114 0 -44 4 -54 39 -88 32 -33 45
              -39 80 -39 54 0 97 22 121 63 70 114 -63 247 -176 178z"
                    />
                    <path
                      d="M8291 1432 c-37 -20 -71 -73 -71 -110 0 -38 31 -93 64 -113 58 -35
              142 -18 180 37 76 109 -57 251 -173 186z"
                    />
                    <path
                      d="M8584 1431 c-47 -29 -64 -59 -64 -114 0 -44 4 -54 39 -88 33 -34 45
              -39 83 -39 61 0 108 33 128 88 13 37 13 47 0 84 -28 78 -117 111 -186 69z"
                    />
                    <path
                      d="M8873 1430 c-63 -38 -81 -120 -40 -181 29 -43 60 -59 116 -59 37 0
              49 5 82 39 34 33 39 45 39 82 0 56 -16 87 -59 116 -42 28 -95 30 -138 3z"
                    />
                    <path
                      d="M9171 1432 c-37 -20 -71 -73 -71 -110 0 -70 62 -132 133 -132 53 0
              94 27 119 78 18 37 19 49 10 81 -26 84 -118 124 -191 83z"
                    />
                    <path
                      d="M9465 1432 c-39 -24 -54 -43 -65 -81 -21 -75 44 -161 124 -161 59 0
              107 33 126 88 13 37 13 47 0 84 -27 78 -117 111 -185 70z"
                    />
                    <path
                      d="M2734 1146 c-86 -39 -108 -152 -40 -215 103 -97 272 20 210 145 -34
              69 -107 99 -170 70z"
                    />
                    <path
                      d="M3030 1147 c-68 -23 -101 -118 -66 -186 29 -55 101 -82 157 -58 110
              47 119 186 15 237 -48 23 -58 23 -106 7z"
                    />
                    <path
                      d="M3914 1149 c-67 -19 -102 -94 -78 -165 26 -75 104 -110 172 -77 109
              53 106 192 -5 239 -36 16 -45 16 -89 3z"
                    />
                    <path
                      d="M4220 1154 c-41 -15 -63 -31 -82 -62 -44 -71 -2 -168 83 -194 32 -9
              44 -8 81 10 121 59 98 225 -33 246 -19 3 -41 3 -49 0z"
                    />
                    <path
                      d="M4490 1142 c-51 -25 -83 -78 -77 -126 10 -77 82 -133 152 -120 133
              25 149 205 22 253 -39 15 -56 14 -97 -7z"
                    />
                    <path
                      d="M5380 1149 c-14 -5 -37 -22 -52 -36 -93 -89 4 -247 131 -213 105 28
              128 175 37 235 -31 21 -85 27 -116 14z"
                    />
                    <path
                      d="M5975 1153 c-57 -15 -95 -67 -95 -128 0 -52 27 -92 78 -117 37 -18
              49 -19 81 -10 85 26 127 123 83 194 -12 18 -30 38 -40 45 -24 14 -80 23 -107
              16z"
                    />
                    <path
                      d="M6840 1147 c-46 -16 -80 -68 -80 -121 0 -92 91 -157 171 -123 110 47
              119 186 15 237 -48 23 -58 23 -106 7z"
                    />
                    <path
                      d="M7123 1140 c-74 -38 -96 -138 -41 -197 86 -94 228 -42 228 84 0 100
              -96 158 -187 113z"
                    />
                    <path
                      d="M8604 1149 c-65 -19 -102 -95 -78 -165 26 -75 104 -110 172 -77 109
              53 106 192 -5 239 -36 16 -45 16 -89 3z"
                    />
                    <path
                      d="M8885 1142 c-108 -50 -94 -204 22 -243 76 -25 163 42 163 125 0 100
              -94 160 -185 118z"
                    />
                    <path
                      d="M9475 1146 c-65 -29 -92 -94 -69 -162 37 -108 167 -121 232 -24 45
              66 14 152 -65 186 -40 17 -59 17 -98 0z"
                    />
                    <path
                      d="M9785 1153 c-58 -16 -95 -67 -95 -132 0 -51 45 -106 100 -122 75 -23
              160 44 160 126 0 44 -21 87 -53 108 -27 18 -83 28 -112 20z"
                    />
                    <path
                      d="M3009 843 c-38 -23 -59 -65 -59 -116 0 -112 139 -167 219 -86 55 54
              53 129 -4 186 -28 28 -40 33 -81 33 -27 0 -61 -8 -75 -17z"
                    />
                    <path
                      d="M3284 827 c-31 -28 -37 -41 -41 -83 -5 -60 18 -103 70 -127 43 -21
              67 -21 112 -3 92 39 101 179 15 230 -16 9 -49 16 -74 16 -38 0 -52 -6 -82 -33z"
                    />
                    <path
                      d="M3583 835 c-64 -51 -66 -140 -4 -199 98 -94 260 21 207 147 -31 75
              -139 102 -203 52z"
                    />
                    <path
                      d="M3888 844 c-63 -34 -80 -136 -33 -193 51 -60 140 -65 194 -10 55 54
              53 129 -4 186 -28 28 -40 33 -81 33 -27 -1 -61 -7 -76 -16z"
                    />
                    <path
                      d="M4164 827 c-30 -28 -37 -42 -41 -83 -4 -40 0 -55 19 -84 73 -108 238
              -54 238 78 0 38 -5 50 -39 83 -35 35 -44 39 -90 39 -44 0 -56 -5 -87 -33z"
                    />
                    <path
                      d="M4463 835 c-64 -51 -68 -137 -9 -194 84 -82 219 -25 219 93 0 76 -53
              126 -135 126 -31 0 -52 -7 -75 -25z"
                    />
                    <path
                      d="M5039 821 c-34 -33 -39 -45 -39 -83 0 -61 33 -108 88 -128 37 -13 47
              -13 84 0 61 21 91 69 85 134 -4 41 -11 55 -41 83 -31 28 -43 33 -87 33 -46 0
              -55 -4 -90 -39z"
                    />
                    <path
                      d="M5919 821 c-34 -33 -39 -45 -39 -83 0 -61 33 -108 88 -128 37 -13 47
              -13 84 0 61 21 91 69 85 134 -4 41 -11 55 -41 83 -31 28 -43 33 -87 33 -46 0
              -55 -4 -90 -39z"
                    />
                    <path
                      d="M6819 843 c-86 -53 -75 -191 18 -230 136 -56 248 119 137 216 -28 25
              -43 31 -82 31 -26 0 -59 -8 -73 -17z"
                    />
                    <path
                      d="M7402 840 c-85 -52 -74 -177 18 -225 103 -53 222 60 176 168 -29 71
              -125 99 -194 57z"
                    />
                    <path
                      d="M3014 551 c-47 -29 -64 -59 -64 -113 0 -129 173 -176 240 -65 69 113
              -63 247 -176 178z"
                    />
                    <path
                      d="M3595 551 c-34 -24 -65 -75 -65 -109 0 -69 64 -132 133 -132 53 0 94
              27 119 78 18 37 19 49 10 81 -26 85 -129 128 -197 82z"
                    />
                    <path
                      d="M3904 560 c-11 -4 -33 -22 -47 -40 -22 -25 -27 -42 -27 -82 0 -45 4
              -54 39 -89 33 -34 45 -39 83 -39 61 0 108 33 128 88 13 37 13 47 0 84 -25 71
              -105 107 -176 78z"
                    />
                    <path
                      d="M4785 560 c-30 -12 -64 -53 -74 -88 -22 -76 43 -162 123 -162 59 0
              107 33 126 88 13 37 13 47 0 84 -25 71 -106 107 -175 78z"
                    />
                    <path
                      d="M5059 547 c-46 -31 -61 -62 -56 -120 3 -38 11 -56 36 -80 28 -29 37
              -32 91 -32 53 0 63 3 91 31 109 110 -34 288 -162 201z"
                    />
                    <path
                      d="M5350 548 c-23 -15 -40 -38 -50 -66 -43 -124 106 -227 204 -141 42
              36 58 85 45 132 -23 84 -128 123 -199 75z"
                    />
                    <path
                      d="M5664 560 c-30 -12 -71 -64 -79 -100 -9 -40 25 -110 64 -133 85 -50
              201 16 201 114 0 87 -103 153 -186 119z"
                    />
                    <path
                      d="M6230 548 c-108 -73 -54 -238 78 -238 38 0 50 5 83 39 35 35 39 44
              39 90 0 44 -5 56 -33 87 -28 30 -42 37 -83 41 -40 4 -55 0 -84 -19z"
                    />
                    <path
                      d="M7407 551 c-112 -73 -65 -241 68 -241 69 0 135 64 135 130 0 37 -30
              89 -65 110 -40 25 -101 26 -138 1z"
                    />
                    <path
                      d="M7993 550 c-120 -73 -55 -253 86 -237 36 4 52 13 78 41 100 109 -37
              274 -164 196z"
                    />
                    <path
                      d="M8584 551 c-47 -29 -64 -59 -64 -114 0 -44 4 -54 39 -88 33 -34 45
              -39 83 -39 61 0 108 33 128 88 13 37 13 47 0 84 -28 78 -117 111 -186 69z"
                    />
                    <path
                      d="M8873 550 c-120 -73 -55 -253 85 -237 63 7 103 49 109 114 5 58 -10
              89 -56 120 -42 28 -95 30 -138 3z"
                    />
                    <path
                      d="M9165 551 c-34 -24 -65 -75 -65 -109 0 -69 64 -132 133 -132 53 0 94
              27 119 78 18 37 19 49 10 81 -26 85 -129 128 -197 82z"
                    />
                    <path
                      d="M9753 550 c-63 -38 -81 -120 -40 -181 31 -46 62 -61 120 -56 68 6
              108 46 114 114 5 58 -10 89 -56 120 -42 28 -95 30 -138 3z"
                    />
                  </g>
                </svg>
              </a>
            </div>
            <div class="mainContainerText">
              <p class="headingTextSmall">adult ticket</p>
              <p class="headingTextBig">the svar studio</p>
            </div>
          </div>
            
          </div>
          <div class="ticketRightContainer">
            <div>
              <p class="cinemaName">{{../theatre}}</p>
              <p class="id ticketIdRight dynamicColor">{{../_id}}</p>
            </div>
            <p class="movieName">{{../movie}}</p>
            <div>
              <p class="showDetails">Admit 1</p>
              <p class="showDetails">{{../date}}</p>
              <p class="showDetails">{{../time}}</p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </body>
  <script>
    const colorArray = ["#a17a35", "#79849f", "#6b8b6e", "#9a6c9c"]; const
    backgroundBlock = document.getElementsByClassName( "dynamicColorContainer"
    ); const colorBlock = document.getElementsByClassName("dynamicColor"); for
    (let idx = 0; idx < backgroundBlock.length; idx++) { const randomColor =
    colorArray[(Math.random() * 3).toFixed(0)];
    backgroundBlock[idx].style.background = randomColor;
    colorBlock[idx].style.color = randomColor; }
  </script>
</html>